@model PhanVuBaoMinh.Models.Category

<h2>Chi tiết danh mục</h2>
<div>
    <p><strong>ID:</strong> @Model.Id</p>
    <p><strong>Tên danh mục:</strong> @Model.Name</p>
</div>
<a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
