@model IEnumerable<PhanVuBaoMinh.Models.Category>

@{
    ViewData["Title"] = "Category List";
}

<h2>Category List</h2>

<a asp-action="Add" class="btn btn-success mb-3">Thêm Category</a>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Tên danh mục</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.Name</td>
                <td>
                    <a asp-action="Display" asp-route-id="@c.Id" class="btn btn-success btn-sm">View</a>
                    <a asp-action="Update" asp-route-id="@c.Id" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-action="Delete" asp-route-id="@c.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
