@{
    ViewData["Title"] = "Thêm mới";
}

<h2>Thêm mới dữ liệu</h2>

<form method="post">
    <div class="form-group">
        <label for="Name">Tên mục</label>
        <input type="text" class="form-control" id="Name" name="Name" />
    </div>
    <button type="submit" class="btn btn-primary">Lưu</button>
</form>
