@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>Admin Dashboard</h2>

<ul>
    <li><a asp-area="Admin" asp-controller="Product" asp-action="Index">Quản lý sản phẩm</a></li>
    <li><a asp-area="Admin" asp-controller="Order" asp-action="Index">Quản lý đơn hàng</a></li>
</ul>
